server:
  port: 8081
  servlet:
    context-path: /customer-service

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/customer_db
    username: root
    password: Putin@140223
    driver-class-name: com.mysql.cj.jdbc.Driver
  application:
    name: customer-service

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/