server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: customer-service
          uri: lb://customer-service
          predicates:
            - Path=/customer-service/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/