server:
  port: 8085
  servlet:
    context-path: /fundtransfer-service

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/onboarding
    username: root
    password: Putin@140223
    driver-class-name: com.mysql.cj.jdbc.Driver
  application:
    name: fundtransfer-service

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1